.navbar,
.menuItem,
.licenseLink,
.favoriteItem,
.addFavorites {
    transition: all .2s linear;
}

.navbar {
    .avatar {
        box-shadow: 0 15px 30px 7px rgba(#f0476f, .16);
    } 

    .menuItem {
        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            transform: translate(-100%, -50%);
            width: 4px;
            height: calc(100% - 12px);
            border-radius: 0 7px 7px 0;
            transition: transform .4s ease;

            @apply bg-base-color
        }
    
        &[class~="active"]::before {
            transform: translate(0, -50%);
        }
    }

    .addFavorites {
        box-shadow: 0 5px 20px 7px #dedede;

        &:hover {
            box-shadow: 0 0px 17px 1px #dedede;
        }
    }
}

